{% extends 'base.html.twig'%}

{% block title %}Readit - My blog{% endblock %}

{% block body %}
{#{{ dump(app) }} debug#}
            <div class="hero-wrap js-fullheight" style="background-image: url({{ asset('images/bg_1.jpg') }});" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
                        <div class="col-md-12 ftco-animate">
                            <h2 class="subheading">Моя семья – мое богатство</h2>
                            <h1 class="mb-4 mb-md-0">Family</h1>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="text">
                                        <p>Семья – это самое главное, что есть в жизни каждого человека. Именно в семье мы учимся любить, понимать друг друга, заботиться о близких, прощать обиды, уважать старших. Родные  всегда окажут поддержку в трудную минуту, помогут словом и делом. Любящие тебя люди обязательно порадуются твоим успехам и достижениям, и даже разделят с тобой горечь неудач, а ведь это так необходимо: знать, что ты не один.</p>
                                        <div class="mouse">
                                            <a href="#" class="mouse-icon">
                                                <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="ftco-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="case">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-8 d-flex">
                                        <a href="blog_single.html.twig" class="img w-100 mb-3 mb-md-0" style="background-image: url({{ asset('images/image_1.jpg') }});"></a>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
                                        <div class="text w-100 pl-md-3">
                                            <span class="subheading">Где любят и ждут, и не помнят о злом!</span>
                                            <h2>
                                                <a href="blog_single.html.twig">
                                                    Я бесконечно счастлива, что у меня есть настоящая семья!
                                                </a>
                                            </h2>
                                            <ul class="media-social list-unstyled">
                                                <li class="ftco-animate">
                                                    <a href="#"><span class="icon-twitter"></span></a>
                                                </li>
                                                <li class="ftco-animate">
                                                    <a href="https://www.facebook.com/profile.php?id=100008716504601">
                                                        <span class="icon-facebook"></span>
                                                    </a>
                                                </li>
                                                <li class="ftco-animate">
                                                    <a href="https://www.instagram.com/?hl=ru">
                                                        <span class="icon-instagram"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="meta">
                                                <p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--   					<div class="case">-->
                            <!--   						<div class="row">-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-8 d-flex">-->
                            <!--   								<a href="blog-single.html" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/image_2.jpg);"></a>-->
                            <!--   							</div>-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-4 d-flex">-->
                            <!--   								<div class="text w-100 pl-md-3">-->
                            <!--   									<span class="subheading">Application</span>-->
                            <!--   									<h2><a href="blog-single.html">Build a website in minutes with Adobe Templates</a></h2>-->
                            <!--   									<ul class="media-social list-unstyled">-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
                            <!--			              </ul>-->
                            <!--   									<div class="meta">-->
                            <!--   										<p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>-->
                            <!--   									</div>-->
                            <!--   								</div>-->
                            <!--   							</div>-->
                            <!--   						</div>-->
                            <!--   					</div>-->
                            <!--   					<div class="case">-->
                            <!--   						<div class="row">-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-8 d-flex">-->
                            <!--   								<a href="blog-single.html" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/image_3.jpg);"></a>-->
                            <!--   							</div>-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-4 d-flex">-->
                            <!--   								<div class="text w-100 pl-md-3">-->
                            <!--   									<span class="subheading">Design</span>-->
                            <!--   									<h2><a href="blog-single.html">Build a website in minutes with Adobe Templates</a></h2>-->
                            <!--   									<ul class="media-social list-unstyled">-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
                            <!--			              </ul>-->
                            <!--   									<div class="meta">-->
                            <!--   										<p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>-->
                            <!--   									</div>-->
                            <!--   								</div>-->
                            <!--   							</div>-->
                            <!--   						</div>-->
                            <!--   					</div>-->
                            <!--   					<div class="case">-->
                            <!--   						<div class="row">-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-8 d-flex">-->
                            <!--   								<a href="blog-single.html" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/image_4.jpg);"></a>-->
                            <!--   							</div>-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-4 d-flex">-->
                            <!--   								<div class="text w-100 pl-md-3">-->
                            <!--   									<span class="subheading">Illustration</span>-->
                            <!--   									<h2><a href="blog-single.html">Build a website in minutes with Adobe Templates</a></h2>-->
                            <!--   									<ul class="media-social list-unstyled">-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
                            <!--			              </ul>-->
                            <!--   									<div class="meta">-->
                            <!--   										<p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>-->
                            <!--   									</div>-->
                            <!--   								</div>-->
                            <!--   							</div>-->
                            <!--   						</div>-->
                            <!--   					</div>-->
                            <!--   					<div class="case">-->
                            <!--   						<div class="row">-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-8 d-flex">-->
                            <!--   								<a href="blog-single.html" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/image_5.jpg);"></a>-->
                            <!--   							</div>-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-4 d-flex">-->
                            <!--   								<div class="text w-100 pl-md-3">-->
                            <!--   									<span class="subheading">Illustration</span>-->
                            <!--   									<h2><a href="blog-single.html">Build a website in minutes with Adobe Templates</a></h2>-->
                            <!--   									<ul class="media-social list-unstyled">-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
                            <!--			              </ul>-->
                            <!--   									<div class="meta">-->
                            <!--   										<p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>-->
                            <!--   									</div>-->
                            <!--   								</div>-->
                            <!--   							</div>-->
                            <!--   						</div>-->
                            <!--   					</div>-->
                            <!--   					<div class="case">-->
                            <!--   						<div class="row">-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-8 d-flex">-->
                            <!--   								<a href="blog-single.html" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/image_6.jpg);"></a>-->
                            <!--   							</div>-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-4 d-flex">-->
                            <!--   								<div class="text w-100 pl-md-3">-->
                            <!--   									<span class="subheading">Illustration</span>-->
                            <!--   									<h2><a href="blog-single.html">Build a website in minutes with Adobe Templates</a></h2>-->
                            <!--   									<ul class="media-social list-unstyled">-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
                            <!--			              </ul>-->
                            <!--   									<div class="meta">-->
                            <!--   										<p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>-->
                            <!--   									</div>-->
                            <!--   								</div>-->
                            <!--   							</div>-->
                            <!--   						</div>-->
                            <!--   					</div>-->
                            <!--   					<div class="case">-->
                            <!--   						<div class="row">-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-8 d-flex">-->
                            <!--   								<a href="blog-single.html" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/image_7.jpg);"></a>-->
                            <!--   							</div>-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-4 d-flex">-->
                            <!--   								<div class="text w-100 pl-md-3">-->
                            <!--   									<span class="subheading">Illustration</span>-->
                            <!--   									<h2><a href="blog-single.html">Build a website in minutes with Adobe Templates</a></h2>-->
                            <!--   									<ul class="media-social list-unstyled">-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
                            <!--			              </ul>-->
                            <!--   									<div class="meta">-->
                            <!--   										<p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>-->
                            <!--   									</div>-->
                            <!--   								</div>-->
                            <!--   							</div>-->
                            <!--   						</div>-->
                            <!--   					</div>-->
                            <!--   					<div class="case">-->
                            <!--   						<div class="row">-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-8 d-flex">-->
                            <!--   								<a href="blog-single.html" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/image_8.jpg);"></a>-->
                            <!--   							</div>-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-4 d-flex">-->
                            <!--   								<div class="text w-100 pl-md-3">-->
                            <!--   									<span class="subheading">Illustration</span>-->
                            <!--   									<h2><a href="blog-single.html">Build a website in minutes with Adobe Templates</a></h2>-->
                            <!--   									<ul class="media-social list-unstyled">-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
                            <!--			              </ul>-->
                            <!--   									<div class="meta">-->
                            <!--   										<p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>-->
                            <!--   									</div>-->
                            <!--   								</div>-->
                            <!--   							</div>-->
                            <!--   						</div>-->
                            <!--   					</div>-->
                            <!--   					<div class="case">-->
                            <!--   						<div class="row">-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-8 d-flex">-->
                            <!--   								<a href="blog-single.html" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/image_9.jpg);"></a>-->
                            <!--   							</div>-->
                            <!--   							<div class="col-md-6 col-lg-6 col-xl-4 d-flex">-->
                            <!--   								<div class="text w-100 pl-md-3">-->
                            <!--   									<span class="subheading">Illustration</span>-->
                            <!--   									<h2><a href="blog-single.html">Build a website in minutes with Adobe Templates</a></h2>-->
                            <!--   									<ul class="media-social list-unstyled">-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
                            <!--			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
                            <!--			              </ul>-->
                            <!--   									<div class="meta">-->
                            <!--   										<p class="mb-0"><a href="#">11/13/2019</a> | <a href="#">12 min read</a></p>-->
                            <!--   									</div>-->
                            <!--   								</div>-->
                            <!--   							</div>-->
                            <!--   						</div>-->
                            <!--   					</div>-->
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col text-center">
                            <div class="block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- loader -->
            <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

        {% endblock %}


